In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
repos = pd.read_csv("repositories.csv")
Users = pd.read_csv("users.csv")

In [26]:
repos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44265 entries, 0 to 44264
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        44265 non-null  int64
 1   full_name         44265 non-null  object
 2   created_at        44265 non-null  object
 3   stargazers_count  44265 non-null  int64
 4   watchers_count    44265 non-null  int64
 5   language          31867 non-null  object
 6   has_projects      44265 non-null  bool
 7   has_wiki          44265 non-null  bool
 8   license_name      15913 non-null  object
dtypes: bool(2), int64(3), object(4)
memory usage: 2.4+ MB

In [27]:
repos.drop("Unnamed: 0",axis=1,inplace=True)
Users.drop("Unnamed: 0",axis=1,inplace=True)

In [52]:
Users

,login,name,location,language,email,hireable,bio,public_repos,followers,following,created_at,company
0,0xRoneet,Roneet Yadav,Navi-Mumbai,NaN,NaN,NaN,Prgrammer || Coder,38,102,145,2022-10-27T10:24:51Z,NaN
1,1407arjun,Arjun Sivaraman,"Mumbai, Maharashtra, India",NaN,NaN,NaN,20 | MERN Stack Developer | AppDev and WebDev,67,79,71,2021-01-02T14:30:45Z,"VELLOREINSTITUTEOFTECHNOLOGY,VELLORE"
2,5arthak01,Sarthak Agrawal,Navi Mumbai,NaN,sarthak.agrawal@research.iiit.ac.in,True,CS Undergrad at IIIT Hyderabad,27,54,90,2020-01-24T08:51:50Z,NaN
3,9vishwashah,VISHWA ALPESH SHAH,navi mumbai india,NaN,NaN,NaN,I am currently pursuing Diploma in AI&ML (Comp...,13,61,395,2022-04-22T13:13:53Z,"AGNELPOLYTECHNIC,VASHI"
4,a7r3,Arvindraj,"Mumbai, India",NaN,arvindultimate7352@gmail.com,NaN,Full-time .NET Full-stack developer\r\nAndroid...,54,53,21,2015-09-28T15:07:34Z,SCRIBT@DEVSATGST
...,...,...,...,...,...,...,...,...,...,...,...,...
721,Zeo-shark,Sourav Bera,"Mumbai, India",NaN,sauravberaiit@gmail.com,NaN,Value Addition through Open Source Contributio...,136,85,206,2019-08-06T06:32:22Z,MICROSOFT
722,Zivi09,Ziven Pereira,Mumbai India,NaN,pereirazivencs232417@gmail.com,True,An computer science student \r\ncurrently Stud...,32,76,87,2023-09-01T03:03:48Z,NaN
723,zoe-abedi,Ahmed Zaid,Mumbai,NaN,NaN,NaN,•Developing to become a developer\r\n•Building...,74,77,108,2021-11-01T04:05:41Z,NaN
724,zoneAnaS,Anas Shaikh,Mumbai,NaN,NaN,NaN,Full stack Web Developer | Java | Javascript |...,25,206,236,2020-11-26T08:38:23Z,NaN
725,zubinmehta,Zubin Mehta,Mumbai. India,NaN,NaN,True,NaN,16,54,195,2009-05-02T08:09:12Z,ZING42

In [46]:
top_5_users = Users.sort_values(by="followers",ascending=False).head(5)
list(top_5_users["login"])

['ValentineFernandes',
 'kovidgoyal',
 'slidenerd',
 'aryashah2k',
 'coding-parrot']

In [49]:
oldest_5_users = Users.sort_values(by="created_at").head(5)

In [51]:
list(oldest_5_users["login"])

['ivank', 'sandeepshetty', 'svs', 'nitinhayaran', 'nischal']